<html>
    <head>
        <title>Note App</title>
         
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</script>
</head>

    <body>
        <div id="app">
            <div class="container">
                    <h1 class="text-center">Note App</h1>

            <div class="card card-body" v-if="errorText.length>0">
                <div class="alert alert-danger">{{errorText}}
                   </div>
              </div>
                   

              <div class="card card-body" v-if="successText.length>0">
             <div class="alert alert-success">{{successText}}
             </div>
            </div>

           <div class="row mt-3">
               
               <div class="col-sm-3">
                   <input type="text" class="form-control" v-model="title">
               </div>

               <div class="col-sm-6">
                   <textarea class="form-control" v-model="description"></textarea>
               </div>

               <div class="col-sm-3">
               <button type="button" class="btn btn-success" @click="addNotes">Add note</button>
            </div>

           </div>

           <div class="row mt-3">
               <div class="col-md-8 offset-md-2">
               <div class="card card-body" v-for="(note, index) in notes">
                    <p><button type="button" class="btn btn-danger" @click="deleteNotes(index)">X</button>
                    </p>
                   <h1 class="text-center">{{note.title}}</h1>
                   <p class="text-center">{{note.description}}</p>
               </div>
            </div>
           </div>

        </div>
        </div>

        <script type="text/javascript" src="js/vue.js"></script>
        <script>
            var app = new Vue({
                el: "#app",
                data: {
                    title:'',
                    description:'',
                    errorText:'',
                    successText:'',
                    notes:[]
                },
                mounted(){
                  
                  
                },

                methods:{
                    addNotes(){
                        let title = this.title;
                        let description = this.description;
                        if(title.length > 0 && description.length > 0){
                            let singleNote = {
                            'title' : title,
                            'description' : description
                        }
                        this.notes.push(singleNote);
                        this.title ="";
                        this.description="";
                        this.errorText=""
                        this.successText="Note Added";
                        }else{
                        this.errorText="Please enter some some text"
                        this.successText="";
                        return;
                        }
                    },

                    deleteNotes(noteIndex){
                        this.notes.splice(noteIndex,1);
                    }

                }
               
               

          

      
                
            });
        </script>
    </body>
</html>